/* CSS For the terminal */

.blinker {
  opacity: 1;
  margin-bottom: -2px;
  height: 15px;
  /* margin-left: -2px; */
  border-left: 7px solid #16a34a;
  animation: blinker 0.9s steps(2, start) infinite;
}

@keyframes blinker {
  to {
    visibility: hidden;
  }
}

#a {
  color: #3943b7;
}

#b {
  color: #ff0096;
}

#c {
  color: #15803d;
}
